*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 2rem;
  flex: display;
  justify-items: center;
  font-family:'Times New Roman', Times, serif;
  background-image: url("\MeuSalario\img\background.jpg");
  background-position: center;
}
label {
  background-color: rgba(128, 128, 128, 0.327);
  padding: .2rem;
  margin: .25rem;
  border-radius: 100px;
  cursor: pointer;
}
.transacoes, .patrimonio {
  display: flex;
  border: 2px solid #333;
  padding: 1rem;
  margin: 1rem;
}
.transacoes, div {
  flex-direction: column;
}