h1 { border-bottom-style: inset; }
h5 {font-style: italic;}
pre {font-style: italic; font-size: 1.1em;}
figure { display: inline-block; font-size: 0.7em; margin: 5px;}
.img-poltrona { width: 24px; height: 16px;}
.entre-letras { letter-spacing: 0.5em;}


/* .tarefa-selecionada {color: red; font-style: italic;}
.tarefa-normal { color: black;}

.alinha-direita { text-align: right; }
*/

img.alta {
    float: left;
    width: 540px;
    margin: 20px 0px 0px 20px;
    border-radius: 1rem;
} 